* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Resetting margin and padding for all elements */

.header {
    min-height: 100vh; /* Minimum height of the header to cover the viewport */
    width: 100%; /* Full width of the viewport */
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(IMG_7932.jpeg); /* Background image with linear gradient overlay */
    background-position: center; /* Center the background image */
    background-size: cover; /* Cover the entire header with the background image */
    position: relative; /* Position relative for absolute positioning of child elements */
    overflow-x: hidden;
}

nav {
    display: flex; /* Display navigation items in a flex container */
    padding: 2% 6%; /* Padding for the navigation */
    justify-content: space-between; /* Space items evenly along the main axis */
    align-items: center; /* Center items along the cross axis */
}

nav img {
    width: 200px; /* Set the width of the logo */
}

.nav-links {
    flex: 1; /* Allow the navigation links to take up remaining space */
    text-align: right; /* Align navigation links to the right */
}

.nav-links ul li{
    list-style: none; /* Remove default list styles */
    display: inline-block; /* Display the list horizontally */
    padding: 8px 12px; /* Padding for the list items */
    position: relative; /* Position relative for absolute positioning of child elements */
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#7e0a02;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    overflow: hidden;
    margin-top: 40px; /* Adjusted margin from the header */
}

.scrolling-words {
    white-space: nowrap; /* Prevent words from wrapping */
}

.scrolling-words .word {
    margin-right: 20px; /* Add spacing between words */
    opacity: 0; /* Initially hide words */
    display: inline-block; /* Display words in a row */
    animation: slide 10s infinite; /* Apply animation */
}

@keyframes slide {
    0% { opacity: 0; transform: translateX(100%); } /* Initial position */
    25%, 75% { opacity: 1; transform: translateX(0%); } /* Visible position */
    100% { opacity: 0; transform: translateX(-100%); } /* Final position */
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.enrollbtn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.enrollbtn:hover{
    border: 1px solid #7e0a02;
    background: #7e0a02;
    transition: 1s;
}

nav .fas{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background:rgb(10, 10, 61);
        height: 100vh;
        width: 200px;
        top:0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    body.menu-open{
        overflow-x: hidden;
    }
    .nav-links.open{
        right:0;
    }
    nav .fas{
        display: block;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}

/* Mission section adjustments */
.mission{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    transition: transform 0.5s ease;
}

.mission h1 {
    font-size: 36px;
    font-weight: 600;
}

.mission p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}

.mission-col{
    flex-basis: 24%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.mission-col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.mission:nth-child(-n+3) {
    display: block;
    transform: translateX(0);
  }
  
  /* Move the hidden section to the left to create a sliding effect */
  .mission:nth-child(n+4) {
    transform: translateX(-100%);
  }
@media(max-width: 700px) {
    .row{
        flex-direction: column;
        display: flex;
    }
    .mission-col{
        flex-basis: 31%;
    }
}
/* 3 sections*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    max-height: fit-content;
    margin-bottom: 20px;
}

.section {
    flex: 1 1 30%;
    margin: 10px;
    transition: transform 0.3s ease-in-out; /* Added transition property for pop effect */
}

.section-content {
    padding: 20px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 100%; /* Make the content take full height of the section */
}
.section-content h2, .section-content p {
    color: white;
}
.section {
    flex: 1 1 30%;
    margin: 10px;
    transition: transform 0.3s ease-in-out; /* Added transition property for pop effect */
    border-radius: 8px; /* Added border-radius for smooth corners */
    overflow: hidden; /* Ensure the border-radius is applied to the background */
}

.section:hover {
    transform: scale(1.03);
}

.about-section {
    background: url("IMG_6585.jpeg") center/cover;
    height: 500px;
    width: auto;
}

.academics-section {
    background: url("IMG_6133.jpeg") center/cover;
    height: 500px;
    width: auto;
}

.admissions-section {
    background: url("IMG_6368.jpeg") center/cover;
    height: 500px;
    width: auto;
}
@media (max-width: 700px) {
    .container {
        flex-direction: column; /* Stack sections vertically on smaller screens */
    }
}
/* video section*/
.textbox {
    width: 100%; /* Adjust as needed */
    max-width: 400px; /* Maximum width of the text box */
    margin: 0 auto; /* Center the text box horizontally */
    padding: 20px;
}
.textbox, .h2{
    text-align: center;
}
.video-container {
    display: flex;
    flex-wrap: wrap; /* Allow videos to wrap to the next line on smaller screens */
    justify-content: center; /* Center the videos horizontally */
    height: 90%;
}

.video-wrapper {
    text-align: center;
    margin: 10px; /* Add some spacing between videos */
    flex: 1 0 45%; /* Each video takes up 45% of the available space */
    max-width: 600px; /* Limit the maximum width of each video wrapper */
}

.video {
    width: 100%; /* Videos take up 100% of the width within their wrapper */
    height: 90%;
}

.description {
    margin-top: 10px;
}
/* Center the play button */
.video::-webkit-media-controls-start-playback-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* For Firefox */
.video::-moz-media-controls-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* footer*/
r*/

/* about us */
.rows {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.camprow{
    padding-top: 50px;
    height: auto;
}
.campus{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 23%;
    border-radius: 18px;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background:transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 1;
}
.layer:hover{
    background:rgba(226,0,0.7);
    opacity: 0.1;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
/*gallery*/

/* Your existing styles for the body, etc. */

#image-slider-section {
    margin: 10%; /* Adjust margin as needed */
    padding: 20px; /* Adjust padding as needed */
    background-color: #f0f0f0; /* Set a background color if desired */
}

#slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 60%;
}

#image-slider {
    display: flex;
    transition: transform 3s ease-in-out;
}

.slider-image {
    width: 100%;
    height: auto;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: white;
    background-color: black;
    padding: 10px;
    border: none;
    outline: none;
    user-select: none;
    z-index: 1;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

/* Application */

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload-btn-wrapper .btn:hover {
    border-color: black;
}
